DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://postgres:postgres@localhost:5432/e_clinic
APPOINTMENT_BUFFER_MINUTES=5

# DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-account@gmail.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=your-account@gmail.com

FRONTEND_BASE_URL=http://localhost:4200

# After running the server, run the worker in a second terminal:
#   python manage.py procrastinate worker
